@import "colors.css";

window {
  font-family: SF Pro Display;
  font-size: 16pt;
  color: @foreground;
  background-color: rgba(30, 30, 30, 0.4);
}

button {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20%;
  background-color: @background;
  opacity: 20;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s ease-in;
  box-shadow: 0 0 10px 2px transparent;
  border-radius: 36px;
  margin: 10px;
  color: @secondary_fixed_dim;
}

button:focus {
  box-shadow: none;
  background-size: 20%;
}

button:hover {
  background-size: 40%;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, .4);
  background-color: @background;
  color: @primary;
  transition: all 0.3s cubic-bezier(.55, 0.0, .28, 1.682), box-shadow 0.5s ease-in;
}

#shutdown {
  background-image: image(url("./icons/power.png"));
}

#shutdown:hover {
  background-image: image(url("./icons/power.png"));
}

#logout {
  background-image: image(url("./icons/logout.png"));

}

#logout:hover {
  background-image: image(url("./icons/logout.png"));
}

#reboot {
  background-image: image(url("./icons/restart.png"));
}

#reboot:hover {
  background-image: image(url("./icons/restart.png"));
}

#lock {
  background-image: image(url("./icons/lock.png"));
}

#lock:hover {
  background-image: image(url("./icons/lock.png"));
}

#hibernate {
  background-image: image(url("./icons/hibernate.png"));
}

#hibernate:hover {
  background-image: image(url("./icons/hibernate.png"));
}